/*!---------------------FOOTER-------------------------*/

footer{
    background-color: #3e3b35f4;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: white;
    p{
        font-size: 12px;
    }
}

.contactanos{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}