/*!------------------HEADER-------------------------*/

header{
    width: 100%;
    position:fixed;
    z-index: 5;
    border-bottom: 2px solid gold;
}

.color-fondo{
    background-color: white;
}

.logo{
    padding-right: 3px;
}