/*!------------------HEADER-------------------------*/

header{
    width: 100%;
    position:fixed;
    z-index: 5;
    border-bottom: 2px solid  $color-border-header;
    box-shadow: 10px 10px 39px -14px rgba(0,0,0,0.75);-webkit-box-shadow: 10px 10px 39px -14px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 39px -14px rgba(0,0,0,0.75);
}

.color-fondo{
    background-color: white;
}

.logo{
    padding-right: 3px;
}

.relleno{
    height: 64px;
}